<form class="d-flex" [formGroup]="searchForm">
  <input
    class="form-control"
    type="search"
    aria-label="search"
    formControlName="search"
    [placeholder]="placeholder"
  />
  <select
    #selectSorter
    (change)="sortDataByProperty($event)"
    class="form-select"
    formControlName="filterSelect"
    aria-label="Default select example"
  >
    <option *ngFor="let option of selectOptions" value="{{ option.value }}">
      {{ option.optionName }}
    </option>
  </select>
</form>
