<div class="container">
  <div class="text-muted mt-2">
    <a class="text-decoration-none" routerLink="/dashboard">Dashboard</a>
    / <a class="text-decoration-none" routerLink="/photos">Photos</a> /
    {{ photoDetails.id }}
  </div>

  <div *ngIf="isLoading" style="text-align: center">
    <app-loading-spinner></app-loading-spinner>
  </div>

  <div class="mt-2" *ngIf="!isLoading">
    <h1>{{ photoDetails.title }}</h1>

    <a
      class="text-decoration-none mt-2"
      routerLink="../../albums/{{ photoDetails.albumId }}"
    >
      View Album
    </a>

    <div class="text-center mt-2">
      <img class="img-fluid" src="{{ photoDetails.url }}" />
    </div>
  </div>
</div>
